<!DOCTYPE html>
{% extends 'base.html' %} {% block content %} {% load static %} {% comment %}
Comment {% endcomment %} {%load bootstrap_icons %}
<div class="container-fluid py-5">
  <div class="text-center">
    <h1>Contáctanos</h1>
  </div>
  <div
    class="center-container d-flex justify-content-center align-items-center"
  >
    <div class="col-12 col-md-12 col-lg-6">
      <div class="h-100 p-3 bg-body-tertiary border rounded-3">
        <h2>{% bs_icon 'geo-alt-fill' size='1.0em' %} Dirección</h2>
        <p>
          Barrio Villa Guadalupe (paralela a Av. Bolívar), S/N. Aiquile,
          Cochabamba, Bolivia.
        </p>
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3789.955944433177!2d-65.19017702394153!3d-18.211948187118626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fb218b1f840173%3A0x1dbcc7ee1858e72e!2sIsola%20Hotel!5e0!3m2!1sen!2sbo!4v1694099647872!5m2!1sen!2sbo"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
        <br />
        <h2>{% bs_icon 'whatsapp' size='1.0em' %} Reservas</h2>
        <a target="_blank" href="https://wa.me/59177115559">+591 77115559</a>
        <br />
        <a target="_blank" href="https://wa.me/59178198677">+591 78198677</a>
        <br />
        <br />
        <h2>{% bs_icon 'envelope-at-fill' size='1.0em' %} Email</h2>
        <p>vindabalderrama@gmail.com</p>
        <br />

        <h2>
          <img
            src="{% static 'img/airbnb.png' %}"
            alt="grupal_03"
            class="img-fluid"
            style="max-width: 7%; height: auto"
          />Airbnb
        </h2>
        <div
          class="airbnb-embed-frame"
          data-id="954556380579533476"
          data-view="home"
          style="width: 100%; height: auto; margin: auto"
        >
          <a
            href="https://www.airbnb.com/rooms/954556380579533476?check_in=2023-09-08&amp;check_out=2023-09-15&amp;guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget"
            >View On Airbnb</a
          ><a
            href="https://www.airbnb.com/rooms/954556380579533476?check_in=2023-09-08&amp;check_out=2023-09-15&amp;guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget"
            rel="nofollow"
            >Hotel in Aiquile · ★New · 1 bedroom · 1 bed · 1 private bath</a
          >
          <script
            async=""
            src="https://www.airbnb.com/embeddable/airbnb_jssdk"
          ></script>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div
    class="center-container d-flex justify-content-center align-items-center"
  >
    <div class="col-12 col-md-12 col-lg-6 text-center">
      <h1>Síguenos en redes</h1>
      <div class="h-100 p-2">
        <a
          id="facebook-link"
          href="https://www.facebook.com/hotel.isola.aiquile"
          style="text-decoration: none"
          target="_blank"
          >{% bs_icon 'facebook' size='3.0em' %}</a
        >

        <a
          href="https://www.tiktok.com/@isolahotel"
          style="text-decoration: none"
          target="_blank"
          ><img
            src="{% static 'img/tiktok.png' %}"
            alt="grupal_03"
            class="img-fluid"
            style="max-width: 4.3em; height: auto"
        /></a>

        <br />
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/facebook_link.js' %}"></script>

{% endblock content %}
