{% extends 'base.html' %} {% block content %}{% load static %}
<div class="container-fluid py-5">
  <h2>Habitación de Lujo</h2>

  <div class="image-container">
    <img
      class="image"
      src="{% static 'img/habitaciones/de_lujo/de_lujo_01.jpg' %}"
      alt="de_lujo_01"
    />
    <img
      class="image"
      src="{% static 'img/habitaciones/de_lujo/de_lujo_02.jpg' %}"
      alt="de_lujo_02"
    />
    <img
      class="image"
      src="{% static 'img/habitaciones/de_lujo/de_lujo_03.jpg' %}"
      alt="de_lujo_03"
    />
    <img
      class="image"
      src="{% static 'img/habitaciones/de_lujo/de_lujo_04.jpg' %}"
      alt="de_lujo_04"
    />
    <img
      class="image"
      src="{% static 'img/habitaciones/de_lujo/de_lujo_05.jpg' %}"
      alt="de_lujo_05"
    />
    <img
      class="image"
      src="{% static 'img/habitaciones/de_lujo/de_lujo_06.jpg' %}"
      alt="de_lujo_06"
    />
  </div>
</div>
{% endblock content %}
