{% extends 'base.html' %} {% block content %}{% load static %}
<div class="container-fluid py-5">
  <div class="container text-center">
    <h2>Experiencias</h2>
    <p>
      Aiquile, conocida como la «Capital del Charango», tiene una gran variedad
      de atractivos turísticos.
    </p>
  </div>

  <div class="image-container">
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_01.jpg' %}"
      alt="experiencias_01"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_02.jpg' %}"
      alt="experiencias_02"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_03.jpg' %}"
      alt="experiencias_03"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_04.jpg' %}"
      alt="experiencias_04"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_05.jpg' %}"
      alt="experiencias_05"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_06.jpg' %}"
      alt="experiencias_06"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_07.jpg' %}"
      alt="experiencias_07"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_08.jpg' %}"
      alt="experiencias_08"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_09.jpg' %}"
      alt="experiencias_09"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_10.jpg' %}"
      alt="experiencias_10"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_11.jpg' %}"
      alt="experiencias_11"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_12.jpg' %}"
      alt="experiencias_12"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_13.jpg' %}"
      alt="experiencias_13"
    />
    <img
      class="image-expe"
      src="{% static 'img/experiencias/experiencias_14.jpg' %}"
      alt="experiencias_14"
    />
  </div>
</div>
{% endblock content %}
