{% extends 'base.html' %} {% block content %}{% load static %}
<div class="container-fluid py-5">
  <div class="col-md-8 mx-auto">
    <div class="container text-center">
      <h2>Experiencias</h2>
      <p>
        Aiquile, conocida como la «Capital del Charango», tiene una gran
        variedad de atractivos turísticos.
      </p>
    </div>

    <div class="two-column-container">
      <div class="column">
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_01.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_01.jpg' %}"
            alt="experiencias_01"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_02.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_02.jpg' %}"
            alt="experiencias_02"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_03.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_03.jpg' %}"
            alt="experiencias_03"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_04.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_04.jpg' %}"
            alt="experiencias_04"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_05.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_05.jpg' %}"
            alt="experiencias_05"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_06.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_06.jpg' %}"
            alt="experiencias_06"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_07.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_07.jpg' %}"
            alt="experiencias_07"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
      </div>
      <div class="column">
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_08.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_08.jpg' %}"
            alt="experiencias_08"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_09.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_09.jpg' %}"
            alt="experiencias_09"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_10.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_10.jpg' %}"
            alt="experiencias_10"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_11.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_11.jpg' %}"
            alt="experiencias_11"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_12.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_12.jpg' %}"
            alt="experiencias_12"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_13.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_13.jpg' %}"
            alt="experiencias_13"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/experiencias/experiencias_14.jpg' %}"
        >
          <img
            src="{% static 'img/experiencias/experiencias_14.jpg' %}"
            alt="experiencias_14"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
{% comment%}Modal container for the enlarged image{% endcomment %}
<div id="lightbox-modal" class="lightbox-modal">
  <span class="close-lightbox">&times;</span>
  <img src="" id="lightbox-image" class="img-fluid" />
</div>
<script src="{% static 'js/image_zoom.js' %}"></script>
{% endblock content %}
