{% extends 'base.html' %} {% block content %}{% load static %}
<div class="container-fluid py-5">
  <div class="container text-center">
    <h2>Bar y Restaurant</h2>
    <h6>Ofrecemos Comidas y Bebidas Exquisitas</h6>
  </div>

  <div class="image-container">
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_01.jpg' %}"
      alt="gastronomia_01"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_02.jpg' %}"
      alt="gastronomia_02"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_03.jpg' %}"
      alt="gastronomia_03"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_04.jpg' %}"
      alt="gastronomia_04"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_05.jpg' %}"
      alt="gastronomia_05"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_06.jpg' %}"
      alt="gastronomia_06"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_07.jpg' %}"
      alt="gastronomia_07"
    />
    <img
      class="image-gastro"
      src="{% static 'img/gastronomia/gastronomia_08.jpg' %}"
      alt="gastronomia_08"
    />
  </div>
</div>
{% endblock content %}
