{% extends 'base.html' %} {% block content %} {% load static %}{% comment %}
Comment {% endcomment %} {%load bootstrap_icons %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="custom-video-container text-center">
  <video autoplay loop muted playsinline id="intro-video">
    <source src="{% static 'img/intro_video.mp4' %}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</div>

<div class="container-fluid py-5">
  <div class="container text-center">
    <h6>AIQUILE - COCHABAMBA</h6>
    <h2>Bienvenido al Hotel Isola</h2>
    <br />
  </div>

  <div class="col-lg-8 col-md-12 mx-auto">
    <br />
    <p><b>Descubre la Belleza de Aiquile en el Hotel Isola</b></p>
    <p id="justify-text">
      Sumérgete en la encantadora experiencia de nuestro hotel rústico en
      Aiquile, donde el desayuno buffet, la calefacción y el minibar se combinan
      en un entorno acogedor. Vive la autenticidad en el Hotel Isola.
    </p>
    <ul id="justify-text">
      <li>
        Nuestro acogedor lobby es el lugar ideal para relajarse y socializar.
        Siéntete libre de utilizar estas áreas para conversar o sumergirte en un
        buen libro.
      </li>
      <li>
        Nuestro restaurante es el rincón perfecto para disfrutar de nuestro
        exquisito desayuno buffet y otras delicias gastronómicas.
      </li>
      <li>
        Si estás planeando eventos o reuniones, nuestro versátil salón está a tu
        disposición.
      </li>
      <li>
        Nuestro servicio de taxi está disponible para todas tus necesidades de
        transporte local.
      </li>
    </ul>

    <p id="justify-text">
      En el Hotel Isola, ofrecemos la mejor hospitalidad a los precios más
      competitivos, para que puedas disfrutar al máximo de una estancia que se
      siente como en casa.
    </p>

    <p><b>Explora Nuestras Comodidades</b></p>

    <p>
      Nuestro hotel cuenta con áreas verdes y espacios comunes para tu disfrute
      🍀🌿🌴🌳🏜.
    </p>
    <div class="two-column-container">
      <div class="column">
        <p><b>Nuestras Habitaciones:</b></p>
        <p>
          ✅️ Individuales (con camas de 2 plazas)<br />
          ✅️ Matrimoniales <br />
          ✅️ Especiales "tipo suite" (con camas de 3 plazas) <br />
          ✅️ Dobles (con camas de 2 plazas) <br />
          ✅️ Triples <br />
          ✅ Cuádruples <br />
          ✅ Familiares <br />
          ✅️ Cunas para bebés disponibles <br />
          🚨 Todas nuestras habitaciones cuentan con baño privado 🛁
        </p>
      </div>
      <div class="column">
        <p><b>Servicios Destacados:</b></p>
        <p>
          🌐 Wi-Fi<br />
          🖥 Televisión por cable <br />
          ☕️ Desayuno buffet <br />
          🚖 Servicio de taxi <br />
          🚍 Trufis o flotas para delegaciones <br />
          🚕 Garaje privado <br />
          🚿 Duchas con agua caliente <br />
          🔥 Agua caliente en los lavamanos <br />
          ♨️ Calefacción portátil (a pedido)<br />
          🍝 Exquisita cocina nacional e internacional <br />
          🎊 Salón de eventos <br />
          🍸 Mini bar<br />
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-md-12 mx-auto">
    <div class="two-column-container">
      <div class="column">
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_01.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_01.jpg' %}"
            alt="hotel_01"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_02.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_02.jpg' %}"
            alt="hotel_02"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_03.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_03.jpg' %}"
            alt="hotel_03"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_07.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_07.jpg' %}"
            alt="hotel_03"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>

        <br />
        <br />
      </div>
      <div class="column">
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_04.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_04.jpg' %}"
            alt="hotel_04"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_05.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_05.jpg' %}"
            alt="hotel_05"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>

        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_06.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_06.jpg' %}"
            alt="hotel_06"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />

        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_hotel/hotel_08.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_hotel/hotel_08.jpg' %}"
            alt="hotel_03"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
      </div>
    </div>
  </div>
  {% comment%}Modal container for the enlarged image{% endcomment %}
  <div id="lightbox-modal" class="lightbox-modal">
    <span class="close-lightbox">&times;</span>
    <img src="" id="lightbox-image" class="img-fluid" />
  </div>

  <div class="col-lg-8 col-md-12 mx-auto">
    <p><b>Descubre Aiquile</b></p>
    <p id="justify-text">
      En esta región, disfruta de su rica historia, cultura y todas las
      atracciones que te esperan durante tu estancia aquí.
    </p>
    <p id="justify-text">
      Explora Aiquile como nunca antes en el acogedor refugio de tu elección.
      Descubre lugares históricos y los maravillosos rincones que hacen de este
      destino un paraíso completo.
    </p>
    <p id="justify-text">
      En el Hotel Isola, te guiaremos hacia los mejores momentos y todas las
      experiencias magníficas para que aproveches al máximo tu estancia
      excepcional en cada rincón de esta ciudad.
    </p>
    <br />
  </div>

  <div class="col-lg-8 col-md-12 mx-auto">
    <div class="two-column-container">
      <div class="column">
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_aiquile/aiquile_01.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_aiquile/aiquile_01.jpg' %}"
            alt="aiquile_01"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_aiquile/aiquile_02.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_aiquile/aiquile_02.jpg' %}"
            alt="aiquile_02"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_aiquile/aiquile_03.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_aiquile/aiquile_03.jpg' %}"
            alt="aiquile_03"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>

        <br />
        <br />
      </div>
      <div class="column">
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_aiquile/aiquile_04.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_aiquile/aiquile_04.jpg' %}"
            alt="aiquile_04"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_aiquile/aiquile_05.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_aiquile/aiquile_05.jpg' %}"
            alt="aiquile_05"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
        <a
          class="lightbox-trigger"
          href="{% static 'img/sobre_aiquile/aiquile_06.jpg' %}"
        >
          <img
            src="{% static 'img/sobre_aiquile/aiquile_06.jpg' %}"
            alt="aiquile_06"
            class="img-fluid"
            style="max-width: 100%; height: auto"
          />
        </a>
        <br />
        <br />
      </div>
    </div>
  </div>

  <br />
  <div class="container text-center">
    <h4>Comentarios de nuestros huéspedes en Google:</h4>
    <br />
  </div>
  <div class="col-lg-8 col-md-12 mx-auto">
    <div class="two-column-container">
      <div class="column">
        <div
          class="h-100 p-3 bg-body-tertiary border rounded-3"
          style="position: relative"
        >
          <img
            src="{% static 'img/google.png' %}"
            alt="google_logo"
            class="img-fluid"
            style="
              position: absolute;
              top: 5%;
              right: 3%;
              max-width: 7%;
              height: auto;
            "
          />
          <p>⭐⭐⭐⭐⭐</p>
          <p>
            <img src="{% static 'img/reviews/reviews_01.png' %}" alt="" /><b>
              Blankiz Manrique</b
            >
          </p>
          <p>
            comentado en
            <a target="_blank" href="https://goo.gl/maps/6aLtDn7GKjPLAkxV7"
              >Google</a
            >
          </p>
          <p>
            Excelente atención, muy limpio, ambientes agradables; personal muy
            amable
          </p>
        </div>
      </div>
      <div class="column">
        <div
          class="h-100 p-3 bg-body-tertiary border rounded-3"
          style="position: relative"
        >
          <img
            src="{% static 'img/google.png' %}"
            alt="google_logo"
            class="img-fluid"
            style="
              position: absolute;
              top: 5%;
              right: 3%;
              max-width: 7%;
              height: auto;
            "
          />
          <p>⭐⭐⭐⭐⭐</p>
          <p>
            <img src="{% static 'img/reviews/reviews_02.png' %}" alt="" /><b>
              Minervita Zilveti Carballo</b
            >
          </p>
          <p>
            comentado en
            <a target="_blank" href="https://goo.gl/maps/GmsZqc3Mr8ymuTB56"
              >Google</a
            >
          </p>
          <p>Muy limpio, excelente atención!</p>
        </div>
      </div>
    </div>
    <br />
    <div class="two-column-container">
      <div class="column">
        <div
          class="h-100 p-3 bg-body-tertiary border rounded-3"
          style="position: relative"
        >
          <img
            src="{% static 'img/google.png' %}"
            alt="google_logo"
            class="img-fluid"
            style="
              position: absolute;
              top: 5%;
              right: 3%;
              max-width: 7%;
              height: auto;
            "
          />
          <p>⭐⭐⭐⭐⭐</p>
          <p>
            <img src="{% static 'img/reviews/reviews_03.png' %}" alt="" /><b>
              Franco Rios Flores</b
            >
          </p>
          <p>
            comentado en
            <a target="_blank" href="https://goo.gl/maps/wVsT68Wn8NfHb2yz8"
              >Google</a
            >
          </p>
          <p>
            Es un buen hotel las habitaciones son geniales y tiene una buena
            discoteca para bailar
          </p>
        </div>
      </div>
      <div class="column">
        <div
          class="h-100 p-3 bg-body-tertiary border rounded-3"
          style="position: relative"
        >
          <img
            src="{% static 'img/google.png' %}"
            alt="google_logo"
            class="img-fluid"
            style="
              position: absolute;
              top: 5%;
              right: 3%;
              max-width: 7%;
              height: auto;
            "
          />
          <p>⭐⭐⭐⭐⭐</p>
          <p>
            <img src="{% static 'img/reviews/reviews_04.png' %}" alt="" /><b>
              Karmen Sheyla Suarez</b
            >
          </p>
          <p>
            comentado en
            <a target="_blank" href="https://goo.gl/maps/x3Nd4BdBoDwocKKf9"
              >Google</a
            >
          </p>
          <p>
            Las mejores habitaciones con las mejores camas!!! Gracias Hotel
            Isola !!
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="container text-center">
    <h4>Comentarios de nuestros huéspedes en Facebook:</h4>
    <br />
  </div>
  <div class="col-lg-8 col-md-12 mx-auto">
    <iframe
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdelicia.laimerodriguez%2Fposts%2Fpfbid0pWG2HybsAsTUPkM1zFez5uw9ZkpZUHEz3BjU2ggN496eTdhDB3kZWGzeT4iHvKebl&show_text=true&width=500"
      width="100%"
      height="210"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
    ></iframe>
    <br />
    <iframe
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjenny.arandia.7%2Fposts%2Fpfbid0WaUEcNmeAYhMrKHSWeQXxixNcvFLHC4bbGYz5euC95rQN6rt5xaYwuCztUF775tjl&show_text=true&width=500"
      width="100%"
      height="230"
      style="border: none; overflow: hidden"
      scrolling="no"
      frameborder="0"
      allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
    ></iframe>
    <br />
    <br />
  </div>
  <br />
  <div class="container text-center">
    <p style="font-size: 12px">
      © 2023 Hotel Isola<br />Diseño
      <a target="_blank" href="https://wa.me/59172004682">Marcelo Barrero</a>
    </p>
  </div>

  <script src="{% static 'js/video_control.js' %}"></script>
  <script src="{% static 'js/image_zoom.js' %}"></script>
</div>
{% endblock content %}
