{% extends 'base.html' %} {% block content %} {% load static %}

<div class="container-fluid py-5">
  <div class="container text-center">
    <br />
    <h6>AIQUILE - COCHABAMBA</h6>
    <h2>Bienvenido al Hotel Isola</h2>
    <br />
  </div>
  <div class="col-md-8 mx-auto">
    <p><b>Sobre Aiquile</b></p>
    <p>
      En esta región, disfruta de toda su historia, cultura, turismo y todas las
      atracciones que te proporciona en tu estancia aquí.
    </p>
    <p>
      Descubre Aiquile como nunca antes, un retiro único en la acogedora posada
      de tu elección. Conoce lugares históricos y todos los maravillosos
      rincones que hacen de este destino un paraíso completo.
    </p>
    <p>
      Con nosotros guiarás tus mejores momentos y a todas las magníficas
      propuestas para disfrutar al máximo de una estancia excepcional en cada
      rincón de esta ciudad.
    </p>
    <br />
  </div>

  <div class="col-md-10 mx-auto">
    <div class="row mb-3">
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_aiquile/aiquile_01.jpg' %}"
          alt="aiquile_01"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_aiquile/aiquile_02.jpg' %}"
          alt="aiquile_02"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_aiquile/aiquile_03.jpg' %}"
          alt="aiquile_03"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_aiquile/aiquile_04.jpg' %}"
          alt="aiquile_04"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_aiquile/aiquile_05.jpg' %}"
          alt="aiquile_05"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_aiquile/aiquile_06.jpg' %}"
          alt="aiquile_06"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
  </div>

  <div class="col-md-8 mx-auto">
    <br />
    <p><b>Sobre Nuestro Hotel</b></p>
    <p>
      Sumérgete en nuestro encantador hotel rústico en Aiquile. Desayuno buffet,
      calefacción y minibar en un entorno acogedor. Explora con comodidad
      gracias a nuestro servicio de taxi. Añade un toque especial a tus eventos
      en nuestro salón. Vive la autenticidad en Hotel Isola.
    </p>
    <p>
      Nuestro lobby acogedor es un lugar ideal para relajarse y socializar.
      Siéntanse libres de utilizar estas áreas para conversar o leer.
    </p>
    <p>
      Nuestro restaurante, el lugar perfecto para disfrutar de nuestro delicioso
      desayuno buffet y otras opciones gastronómicas.
    </p>
    <p>
      Si desean organizar eventos o reuniones, nuestro salón es un espacio
      versátil a su disposición.
    </p>
    <p>
      Nuestro servicio de taxi está disponible para sus necesidades de
      transporte local.
    </p>
  </div>

  <div class="col-md-10 mx-auto">
    <div class="row mb-3">
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_hotel/hotel_01.jpg' %}"
          alt="hotel_01"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_hotel/hotel_02.jpg' %}"
          alt="hotel_02"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_hotel/hotel_03.jpg' %}"
          alt="hotel_03"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_hotel/hotel_04.jpg' %}"
          alt="hotel_04"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_hotel/hotel_05.jpg' %}"
          alt="hotel_05"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-md-6">
        <img
          src="{% static 'img/sobre_hotel/hotel_06.jpg' %}"
          alt="hotel_06"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
    </div>
  </div>
</div>

{% endblock content %}
